.research-section {
    padding: 100px 20px;
    background-color: #ffffff;
    color: #2f2f2f;
  }
  
  .research-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
  }
  
  .research-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .research-card {
    background-color: #f1f1f1;
    padding: 20px 30px;
    margin: 10px 0;
    width: 80%;
    border-left: 5px solid #2f2f2f;
  }
  
  .research-card h3 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .publication {
    display: block;
    color: #9aa0a8;
    margin-bottom: 5px;
  }
  
  .year {
    display: block;
    color: #2f2f2f;
  }
  